<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnStr" value="server=EHZQSNIIBCHZXM3;database=Storehouse;uid=sa;pwd=198296;Max Pool Size=20000;"/>-->
    <add key="ConnStr" value="server=SZM\MSSQLSERVER2014;database=Storehouse;uid=sa;pwd=123456;Max Pool Size=20000;"/>
    <add key="CompanyName" value="苏州XX公司"/>
    <!--调拨单货品是否自动计算平均单价 true:填充 flase:不填充-->
    <add key="IsAutoFillRemovePrice" value="true"/>
    <add key="IsStartAutoUpdate" value="false"/>
    <add key="Ver" value="1.0.3"/>
    <add key="ServerPath" value="\\wanghm\Server$\"/>
    <add key="IsAutoFillBillOutPrice" value="true"/>
  
  </appSettings>
</configuration>